*{
    margin: 0cm;
    padding: 10px;
    font-family: sans-serif, arial;
    line-height: 1.5rem;
    font-size: 1.2rem;
    background-color: black;
    color: gold;
}
span{
    padding: 0px;
}
button{
    border-radius: .7rem;
    background-color: goldenrod;
    color: rgb(19, 18, 18);
    font-size: large;
}

#datos{
    vertical-align: top;
}
.container{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr, 3fr;
}
h1{
    text-align: left;
    margin-bottom: 3vw;
    overflow: hidden;
    height: 5vw;
}
.contenedor{
    text-align : center;
    margin-inline: auto;
}

h1 span{
    text-decoration-line:underline;
    font-size: 5vw;
    grid-column: 1/-1;
    line-height: 6vw;
}

.titulo{
    font-size: 3vw;
    line-height: 5vw;
    text-decoration-line: underline;
}

.lugar{
    font-weight: bold;
    line-height: 2rem;
}

div{
    margin: 0px;
}

header ul {
    vertical-align: top;
    margin-left: 2vw;
    display: inline-block;
}
.datos li li{
    margin-left: -7vw;
    margin-top: 2vw;
    margin-bottom: -3vw;
}
ul{
    margin-bottom: -2vw;
}

/* Grid */
.foto{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: blue;
    width: 24vw
}

.datos{
    grid-column: 2/3;
    grid-row: 2/3;
}

nav{
    grid-column: 1/-1;
    grid-row: 3/4;
    text-align: center;
}


.m{
    color: red;
}

.w{
    color: #00bb2d;
}

.l{
    color:#0e76a8;
}

.experiencias{
    grid-row: 4/5;
}
.izquierda{
    /* overflow: hidden; */
    animation-duration: 2s;
    animation-name: izquierda;
    color:black;
    font-display: block;
    animation-fill-mode: forwards;
}
@keyframes izquierda {
    from{
        padding-left: 100%;
    }
    to{
        color: gold;
        padding-left: 0%;
        
    }
}
.derecha{
    z-index: 2;
    animation-duration: 2s;
    animation-name: derecha;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    color:black;
}
@keyframes derecha {
    from{
    }
    50%{
        color: blueviolet;
    }
    to{
        color: gold;
    }
}
.arriba{
    z-index: 1;
    animation-duration: 2s;
    animation-name: arriba;
    animation-fill-mode: forwards;
    color:black;
    animation-delay: 2s;
}
@keyframes arriba {
        from{
            padding-left: 100%;
        }
        to{
            color: gold;
            padding-left: 0%;
            
        }
}
.lenguajes li{
    display: inline-block;
}